
{{> head }}
  
  <div class="row">

    <div class="col-8">
        <h1>Images</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/chen.png" alt="Chems" class="img-thumnail">
    </div>

  </div>

{{> footer}}
 